@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background-color:rgb(245, 245, 245);
  margin:0;
  font-family: 'Poppins', sans-serif;
}


.App{
  display:flex;
}